MONGO_URI=mongodb+srv://booth_bandhan:%40Admin.321@cluster0.2w8hwru.mongodb.net/?appName=Cluster0
MONGO_DIRECT_URI=mongodb://booth_bandhan:%40Admin.321@ac-2tnrlki-shard-00-00.2w8hwru.mongodb.net:27017,ac-2tnrlki-shard-00-01.2w8hwru.mongodb.net:27017,ac-2tnrlki-shard-00-02.2w8hwru.mongodb.net:27017/?ssl=true&authSource=admin&replicaSet=atlas-sbpoyi-shard-0&retryWrites=true&w=majority&appName=Cluster0

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="deep1talk@gmail.com"
SMTP_PASS="wldzlnaivhitzueu"

NEXT_PUBLIC_URL=http://localhost:3000

SECRET_KEY="A9xK2pQ7mN4vR1tY8wC5jH3dL6sF0u"

CLOUDINARY_CLOUD_NAME="djmwofcvs"
CLOUDINARY_API_KEY=298524589345157
CLOUDINARY_API_SECRET="o5J0yNJtMsLRWhe3yw_PSqpp96o"
CLOUDINARY_FOLDER=boothbandhan/profiles

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

